# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Logs e Arquivos de Build
build_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências do Backend (Laravel/PHP)
/backend/vendor/
/backend/.env
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*.log
!/backend/storage/logs/.gitignore
/backend/public/storage

# Dependências do Frontend (Node.js)
/web/node_modules/
/mobile/node_modules/
.pnp
.pnp.js

# Dados do Banco de Dados
/postgres-data/